# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node/Frontend
node_modules/
dist/
build/
.DS_Store

# Editor
.vscode/
.idea/

# Custom
*.log
backend_error.txt
backend_log.txt
output.txt
api_test_report.txt

# Backup & Temp Files
*.bak
*.tmdx
retail.db
*.pdf
frontend-icin-ornek-gorsel/

# Sensitive/Large Files
END401*.pdf
Ibrahim-Turkyilmaz*.pdf
frontend/build_final_error.txt
